[Unit]
Description=DS4 TP=3 preflight timer (%i)

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=30s
Persistent=true
Unit=ds4-preflight-tp3@%i.service

[Install]
WantedBy=timers.target

