# Copy to: /etc/ds4/spark-spark1.env
SPARK_INSTANCE=spark1
SPARK_HOME=/opt/spark
SPARK_LOCAL_IP=spark1.local
SPARK_MASTER_HOST=spark0.local
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8080
SPARK_WORKER_WEBUI_PORT=8081
SPARK_MASTER_URL=spark://spark0.local:7077

